## Attribute codes
# 00=none 01=bold 04=underscore

## Text color codes
# 30=black 31=red 32=green 33=yellow 34=blue 35=magenta 36=cyan 37=white

## Background color codes
# 40=black 41=red 42=green 43=yellow 44=blue 45=magenta 46=cyan 47=white

## dircolors 256 COLOR SUPPORT

# Text 256 color coding:
#   38;5;COLOR_NUMBER
# Background 256 color coding:
#   48;5;COLOR_NUMBER

# <attribute code>;<text code>;<background code>;<256 color support code>

NORMAL 00;38;5;24 # Color of info text
FILE 01;38
DIR 01;38;5;216
EXEC 01;38;5;85
