{
        "editor.rulers": [88],
        "editor.stickyScroll.enabled" : false,
        "terminal.integrated.allowChords": false,
        "terminal.integrated.macOptionClickForcesSelection": true,
        "[html]": {
                "editor.defaultFormatter": "esbenp.prettier-vscode"
        },
        "terminal.integrated.defaultProfile.osx": "zsh",
        "workbench.panel.defaultLocation": "right",
        "workbench.panel.opensMaximized": "preserve",
}
